@charset "utf-8";

div#jswarn {
	color: #000;
	height: 40px;
	width: 100%;
	overflow: hidden;
	font: normal 10px/14px Arial, Helvetica, sans-serif;
	background: url(jswarn_alert.gif) #eee no-repeat top left;
	border-bottom: solid 1px #666;
}

div#jswarn p {
	padding: 5px 5px 5px 45px;
	line-height: 15px;
}

div#jswarn p strong {
	font-size: 12px;
	font-weight: bold;
	padding-right: 5px;
}

div#jswarn p a {
	color: #0000FF;
	text-decoration: underline;
}

div#jswarn p a:hover {
	color: #FF9900;
	text-decoration: underline;
}