body {
    background-color: #027299;
    color: azure;
     font-family: Maven Pro;
    font-size: 1.1em;
     background: url(https://i.ibb.co/hKhnHsn/BG1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}


h1, h2, h3, h4, h5, h6  {
  font-family: Maven Pro;
}



.button2 {
  font-size: 25px;
   font-family: Maven Pro;
  color: rgb(0, 0, 0);
  background: #F16522;
  text-align: center; 
  width: 560px; 
}
 
